<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
<head>
<script src=”sweetalert-dev.js”></script>

<link rel=”stylesheet” href=”sweetalert.css”>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
	crossorigin="anonymous">
<title>Wellcom to DXC VIETNAM</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<nav class="navbar navbar-light bg-light">
		<a href="http://localhost:8080/claim"><img style="height: 100px"
			src="https://upload.wikimedia.org/wikipedia/commons/8/88/DXC_Logo_2021_Purple_Black.png"></a>
	</nav>
	<div class="container">
		<h2 style="text-align: center">Add Motor Policy</h2>

		<form th:action="@{CreateMotor}" th:object="${motor}" method="POST">
			<!-- <div class="col-md-12">
				<label for="validationDefault01" class="form-label">Policy No</label> <input type="text" th:field="*{PolicyNo}"
					placeholder="Enter FirstName" class="form-control col-4 mb-4">
				<p class="alert alert-danger col-4 mb-4 col-4 mb-4"
					th:if="${#fields.hasErrors('PolicyNo')}" th:errors="*{PolicyNo}">
			</div> -->
			<div class="col-md-12">
				<label for="validationDefault01" class="form-label">Inception
					Date</label> <input type="date" th:field="*{inceptionDate}"
					placeholder="Enter Inception
					Date"
					class="form-control col-4 mb-4">
				<p class="alert alert-danger col-4 mb-4 col-4 mb-4"
					th:if="${#fields.hasErrors('InceptionDate')}"
					th:errors="*{InceptionDate}">
			</div>

			<div class="col-md-12">
				<label for="validationDefault01" class="form-label">Expiry
					Date </label> <input type="date" th:field="*{ExpiryDate}"
					placeholder="Enter Inception Date" class="form-control col-4 mb-4"
					id="theDate">
				<p class="alert alert-danger col-4 mb-4 col-4 mb-4"
					th:if="${#fields.hasErrors('ExpiryDate')}"
					th:errors="*{ExpiryDate}">
					<span th:if="${#fields.hasErrors('ExpiryDate')}"
						th:errors="*{ExpiryDate}">Error!</span>
			</div>

			<div class="col-md-12">
				<label for="validationDefault01" class="form-label">Policy
					Owner</label> <input type="text" th:field="*{PolicyOwner}"
					placeholder="Enter Policy Owner" class="form-control col-4 mb-4">
				<p class="alert alert-danger col-4 mb-4"
					th:if="${#fields.hasErrors('PolicyOwner')}"
					th:errors="*{PolicyOwner}">
					<!-- <span th:if="${#fields.hasErrors('PolicyOwner')}"
						th:errors="*{PolicyOwner}">Error!</span> -->
			</div>

			<div class="col-md-12">
				<label for="validationDefault01" class="form-label">Engine
					No</label> <input type="text" th:field="*{EngineNo}"
					style="text-transform: uppercase" placeholder="Enter Engine No"
					class="form-control col-4 mb-4" d>
				<p class="alert alert-danger col-4 mb-4"
					th:if="${#fields.hasErrors('EngineNo')}" th:errors="*{EngineNo}">
					<span th:if="${#fields.hasErrors('EngineNo')}"
						th:errors="*{EngineNo}">Error!</span>
			</div>

			<div class="col-md-12">
				<label for="validationDefault01" class="form-label">Chassis
					No </label> <input type="text" th:field="*{ChassisNo}"
					style="text-transform: uppercase" placeholder="Enter Address"
					class="form-control col-4 mb-4">
				<p class="alert alert-danger col-4 mb-4"
					th:if="${#fields.hasErrors('ChassisNo')}" th:errors="*{ChassisNo}">
					<span th:if="${#fields.hasErrors('ChassisNo')}"
						th:errors="*{ChassisNo}">Error!</span>
			</div>

			<div class="col-md-12">
				<label for="validationDefault01" class="form-label">Vehicle
					Registration No </label> <input type="text"
					style="text-transform: uppercase"
					th:field="*{VehicleRegistrationNo}" placeholder="Enter Chassis No"
					class="form-control col-4 mb-4">

				<p class="alert alert-danger col-4 mb-4"
					th:if="${#fields.hasErrors('VehicleRegistrationNo')}"
					th:errors="*{VehicleRegistrationNo}">
					<span th:if="${#fields.hasErrors('VehicleRegistrationNo')}"
						th:errors="*{VehicleRegistrationNo}">Error!</span>
			</div>

			<div class="col-md-12">
				<label for="validationDefault01" class="form-label">Billing
					Currency</label> <select class="form-control col-4 mb-4"
					aria-label="select example" th:field="*{BillingCurrency}">
					<option value="">Open this select menu</option>
					<option value="Vietnam Dong">VND - Vietnam Dong</option>
					<option value="US Dollar">USD - US Dollar</option>
					<option value="Singapore Dollar">SGD- Singapore Dollar</option>
				</select>

				<p class="alert alert-danger col-4 mb-4"
					th:if="${#fields.hasErrors('BillingCurrency')}"
					th:errors="*{BillingCurrency}">
			</div>

			<div class="col-md-12">
				<label for="validationDefault01" class="form-label">Sum
					Insured</label> <input type="number" 
					th:field="*{SumInsured}" placeholder="Enter Sum Insured"
					class="form-control col-4 mb-4">
				<p class="alert alert-danger col-4 mb-4 col-4 mb-4"
					th:if="${#fields.hasErrors('SumInsured')}"
					th:errors="*{SumInsured}">
			</div>

			<div class="col-md-12">
				<label for="validationDefault01" class="form-label">Rate</label> <input
					type="number" step="0.00001"  th:field="*{Rate}"
					placeholder="Enter Rate" class="form-control col-4 mb-4">
				<p class="alert alert-danger col-4 mb-4 col-4 mb-4"
					th:if="${#fields.hasErrors('Rate')}" th:errors="*{Rate}">
			</div>

			<div class="col-md-12">
				<label for="validationDefault01" class="form-label">Annual
					Premium</label> <input type="text" th:field="*{AnnualPremium}"
					placeholder="Enter Annual Premium" class="form-control col-4 mb-4"
					readonly>
				<!-- <p class="alert alert-danger col-4 mb-4 col-4 mb-4"
					th:if="${#fields.hasErrors('AnnualPremium')}"
					th:errors="*{AnnualPremium}"> -->
			</div>

			<div class="col-md-12">
				<label for="validationDefault01" class="form-label">Posted
					Premium</label> <input type="text" th:field="*{PostedPremium}"
					placeholder="Enter Posted Premium" class="form-control col-4 mb-4"
					readonly>
				<!-- <p class="alert alert-danger col-4 mb-4 col-4 mb-4"
					th:if="${#fields.hasErrors('PostedPremium')}"
					th:errors="*{PostedPremium}"> -->
			</div>
			-

			<button class="btn btn-primary" type="submit" name="check"
				value="Save">Save</button>
			<button class="btn btn-primary" type="submit" name="check"
				value="Issue">Issue</button>
			<button class="btn btn-primary" type="submit" name="check"
				value="Refresh">Refresh</button>
			<hr />
			<a th:href="@{/list}" class="btn btn-danger">Back to list</a>
		</form>

	</div>

</body>

<footer>
	<p style="text-align: center; bottom: 0;">Copyright © 2021 DXC
		Technology </p>
</footer>

</html>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
